header {
    height: 90px;
    @extend %row-center;


    .logo {
        height: 50px;
        margin-left: 100px;
    }

    h1 {
        margin-right: 100px;
        font-size: 36px;
        line-height: 46.87px;
    }
}


@media screen and (min-width:280px) and (max-width:770px) {
    header {
        flex-direction: column;

        .logo {
            margin: 15px 0 0 0;

        }

        h1 {
            margin-right: 0;
            font-size: 30px;
        }
    }
}